<div class="form-signin text-center">
    <div class="alert alert-success" *ngIf="success" role="alert">
        Register Success
    </div>
    <form #registerForm="ngForm" >
        <img class="mb-4" src="bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Register</h1>
    
        <div class="form-floating">
          <input type="text" name="name" [(ngModel)]="user.name"  class="form-control" id="floatingInput" placeholder="name" required>
          <label for="floatingInput">Name</label>
        </div>
        <div class="form-floating">
          <input type="email" name="email" [(ngModel)]="user.email"  class="form-control" id="floatingInput" placeholder="name@example.com" required>
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" name="password" [(ngModel)]="user.password"  class="form-control" id="floatingPassword" placeholder="Password" required>
          <label for="floatingPassword">Password</label>
        </div>
    
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button (click)="register()" [disabled]="!registerForm.form.valid" class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
      </form>
    </div>