<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="mt-2">
                My Recipes
                <a class="btn btn-primary float-end" routerLink="/create-recipe">Create Recipe</a>
            </h1>
            
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Created On</th>
                        <th>Thumbnail</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of myRecipes; track $index) {
                    <tr>
                        <td>
                            {{ item.id }}
                        </td>
                        <td>
                            <a routerLink="/recipe_details/{{ item.id }}">
                                {{ item.title }}
                            </a>
                        </td>
                        <td>{{ item.created_at }}</td>
                        <td>
                            <img src="http://localhost:8000/{{ item.image }}" 
                            class="img img-thumbnail" width="150" >
                        </td>
                        <td>
                            <button class="btn btn-primary" (click)="editRecipe(item.id)">Edit</button>
                            <button class="btn btn-danger" (click)="deleteRecipe(item.id)">Delete</button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>